<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width">
    <title>{{标题在这里写!!!}}</title>
    <script type="text/javascript">
      // 后台数据放在这
      // window._invseritData
    </script>
</head>
<body>
    <!-- 模板入口 -->
    <div id="app"></div>
    <!-- 新载体页！！ 老载体页记得改！！！ app.js  -->
    <script type="text/javascript" src="$rescachehelper.getResource(30805)"></script>
    <!-- react  -->
    <script type="text/javascript" src="$rescachehelper.getResource(30811)"></script>
    <!-- react dom  -->
    <script type="text/javascript" src="$rescachehelper.getResource(30812)"></script>
    <!-- 你的 js！！这里记得改！！！-->
    <script type="text/javascript" src="$rescachehelper.getResource(30810)"></script>
</body>
</html>
